.bg-sidebar {
    background-color: #850000;
    background-image: linear-gradient(0deg, var(--cor-sidebar-2) 10%, var(--cor-sidebar-1) 100%);
    background-size: cover;
  }
  .container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  .card-body {
    flex: 1 1 50px;
    padding: 1.25rem;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .px-5 {
    padding-left: 3rem !important;
  }
  .p-5 {
    padding: 3rem !important;
  }
  
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .p-3 {
    padding: 1rem !important;
  }
  
  .p-0 {
    padding: 0 !important;
  }
  
  .my-5 {
    margin-top: 0rem !important;
  }
  
  .text-black-900 {
    text-align: center;
    color: rgb(221, 221, 44) !important;
    text-shadow: 3px 0px black;
  }
  
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  
  
  .border-0 {
    border: 0 !important;
  }
  
  .o-hidden {
    overflow: hidden !important;
  }
  .text-gray-900 {
    text-align: center;
    color: rgb(221, 221, 44) !important;
    text-shadow: 3px 0px black;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .small {
    font-size: 90%;
    font-weight: 500;
    color: black;
  }
  
  
  .form-group {
  text-align: center !important;
  margin-bottom: 1rem;
  }
  
  .form-text {
  display: block;
  margin-top: 0.25rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
    
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.50px solid #e3e6f0;
    border-radius: 0.35rem;
  }
  
  .o-hidden {
    overflow: hidden !important;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .form-control:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
  }
  
  .form-control::-webkit-input-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #858796;
    opacity: 1;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #eaecf4;
    opacity: 1;
  }
  
  select.form-control:focus::-ms-value {
    color: #6e707e;
    background-color: #fff;
  }
  
  .form-control-file,
  .form-control-range {
    display: block;
    width: 100%;
  }
  
  .btn {
    margin-bottom: 1rem;
    border: 3.25px solid transparent;
    line-height: 1.3;
    border-radius: 0.35rem;
    color: black !important;
    background-color: yellow !important;
    border-color: yellow !important;
    display: block;
    width: 100%;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  
  
  
  .btn-cor-principal {
    color: black !important;
    background-color: yellow !important;
    border-color: yellow !important;
  
  }
  
  .btn-cor-principal:disabled {
    background-color: var(--cor-principal-dark) !important;
    border-color: var(--cor-principal-dark) !important;
    color: rgb(192, 190, 190) !important;
  }
  
  .btn-cor-principal:hover {
    opacity: .7;
  }
  
  form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 5rem;
    padding: 0.50rem 1rem;
  }
  
  
  .btn-block {
    display: block;
    width: 50%;
  }
  
  .btn-block + .btn-block {
    margin-top: 0.5rem;
  }
  
  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
    width: 100%;
  }    