<!-- <div class="barra sidebar-opener" (click)="sidebarShow = !sidebarShow">=</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div
      class="sidebar-close"
      (click)="sidebarShow = !sidebarShow"
  >
      X
  </div>
  <div class="sidebar-content">
      <h2>Matinais</h2>
      <div>Alimentos básicos</div>
      <div>Frescos</div>
      <div>Açougue</div>
      <div>Perfumaria</div>
      <div>Bebidas</div>
      <div>Limpeza</div>
      <div>Saúdavel</div>
  </div>
</div> -->
