<div class="bg-sidebar" style="height:100vh ;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card-login">
            <div class="p-0">
              <div class="row">
                <div class="col-lg-6 pl-5" style="display: flex; justify-content: center; align-items: center">
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">MercaOn</h1>
                    </div>
                    <form >
                      <div class="form-group">
                        <input name="email" placeholder="Entre com endereço de email...">
                      </div>
                      <div class="form-group">
                        <input  type="password" required name="senha" placeholder="Senha">
                      </div>
                      <div class="form-group">
                      </div>
                      <button type="submit"  class="btn" (click)="logar()">
                        Login
                      </button>
                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small" routerLink="/recuperar_senha">Esqueci minha senha</a>
                    </div>
                    <div class="text-center">
                      <a class="small" routerLink="/cadastro">Criar uma conta!</a>
                    </div>
                    <div class="text-center">
                      <a class="small" routerLink="/usuario_verificar">Confirmar conta?</a>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>