<div class="container-fluid bg-danger w-100 h-100 pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-7">
      <div class="container shadow-sm bg-white border-warning border border-2 rounded pt-4 pb-4 ps-5 pe-5">
        <div class="row">
          <div class="col-12 d-flex justify-content-center"><span class="h1 text-danger">MercaOn</span></div>
          <hr class="mt-3 bg-danger">
          <div class="col-8">
            <div class="row pe-3">
              <input name="email" class="form-control mb-3" placeholder="Entre com endereço de email..." #email>
              <input type="password" class="form-control mb-3" required name="senha" placeholder="Senha" #senha>
            </div>
          </div>
          <button type="submit" class="btn btn-primary col-4" (click)="logar({email: email.value, senha: senha.value})">
            Login
          </button>
          <hr class="mt-3 bg-danger">
          <button type="button" class="btn btn-danger mt-3" routerLink="/cadastro">
            Criar uma conta!
          </button>
          <!-- <button type="button" class="btn btn-outline-danger mt-3" routerLink="/recuperar_senha">
            Esqueci minha senha
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>