<div class="barra sidebar-opener"><i class="fa-solid fa-bars icon2" (click)="sidebarShow = !sidebarShow"></i></div>

<div class="container-fluid">
  <div class="card card-gradient-success3 text-white text-lg " style="height: 100%;">
    <div class="card-bodyCli">
      <div class="col-lg-4 mb-3">
        <div class="card-bodyCli">
          <div class="row" style="height: 100%;">
            <div class="col-lg-12 mb-2" style="display: flex; flex-direction: row;">
              <i class="fa-solid fa-circle-user icon"></i>
              <h2  class="icon">Nome estabelecimento</h2>
              <div class="icon">Distância</div>
              <hr>
              <div class="icon">Tempo Entrega</div>
            </div>
            <div class="card-body-icon-bg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card card-gradient-success3 text-white text-lg " style="height: 100%;">
    <div class="card-bodyCli">
      <div class="col-lg-4 mb-3">
        <div class="card-bodyCli">
          <div class="row" style="height: 100%;">
            <div class="col-lg-12 mb-2" style="display: flex; flex-direction: row;">
              <i class="fa-solid fa-circle-user icon"></i>
              <h2  class="icon">Nome estabelecimento</h2>
              <div class="icon">Distância</div>
              <hr>
              <div class="icon">Tempo Entrega</div>
            </div>
            <div class="card-body-icon-bg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card card-gradient-success3 text-white text-lg " style="height: 100%;">
    <div class="card-bodyCli">
      <div class="col-lg-4 mb-3">
        <div class="card-bodyCli">
          <div class="row" style="height: 100%;">
            <div class="col-lg-12 mb-2" style="display: flex; flex-direction: row;">
              <i class="fa-solid fa-circle-user icon"></i>
              <h2  class="icon">Nome estabelecimento</h2>
              <div class="icon">Distância</div>
              <hr>
              <div class="icon">Tempo Entrega</div>
            </div>
            <div class="card-body-icon-bg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card card-gradient-success3 text-white text-lg " style="height: 100%;">
    <div class="card-bodyCli">
      <div class="col-lg-4 mb-3">
        <div class="card-bodyCli">
          <div class="row" style="height: 100%;">
            <div class="col-lg-12 mb-2" style="display: flex; flex-direction: row;">
              <i class="fa-solid fa-circle-user icon"></i>
              <h2  class="icon">Nome estabelecimento</h2>
              <div class="icon">Distância</div>
              <hr>
              <div class="icon">Tempo Entrega</div>
            </div>
            <div class="card-body-icon-bg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sidebar-slider" [class.sidebar-slide-in]="sidebarShow">
  <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">
    X
  </div>
  <div class="sidebar-content">
    <div class="pointer" (click)="irPara('/produto')">Matinais</div>
    <div class="pointer" (click)="irPara('/produto')">Alimentos básicos</div>
    <div class="pointer" (click)="irPara('/produto')">Frescos</div>
    <div class="pointer" (click)="irPara('/produto')">Açougue</div>
    <div class="pointer" (click)="irPara('/produto')">Perfumaria</div>
    <div class="pointer" (click)="irPara('/produto')">Bebidas</div>
    <div class="pointer" (click)="irPara('/produto')">Limpeza</div>
    <div class="pointer" (click)="irPara('/produto')">Saúdavel</div>
  </div>
</div>