<div class="container-fluid bg-danger w-100 p-0" style="min-height: 100%;">
  <navbar-header></navbar-header>
  <div class="container pb-3 pt-3">
    <div class="row bg-white p-4 border rounded">
      <div class="col-12 d-flex justify-content-between">
        <span class="h3">Produtos</span>
      </div>
      <hr>
      <div class="col-12">
        <div class="row justify-content-around">
          <div class="card" style="width: 18rem;" *ngFor="let item of produtos">
            <img [src]="item.imagem" class="card-img-top" width="300" height="200">
            <div class="card-body">
              <span class="h5">{{item.nome}}</span>
              <p class="card-text">{{item.descricao}}</p>
              <a (click)="adicionarAoCarrinho(item)" *ngIf="clienteLogado()" class="pointer btn btn-primary">Adicionar ao carrinho</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>